<h1>impftermine</h1>
<table class="ui compact celled table">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Start</th>
      <th>Ende</th>
      <th>Ort</th>
      <th>freie Plätze</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vaccination of vaccinations" class="vs-vaccination-list-item" [vaccination]="vaccination"></tr>
  </tbody>
</table>

<button routerLink="../" routerLinkActive="active">Hallo</button>

<div *ngIf="!vaccinations" class="ui active dimmer">
  <div class="ui large text loader">Daten werden geladen</div>
</div>

<p *ngIf="vaccinations && !vaccinations.length">
  Keine Impftermine vorhanden.
</p>