<!--am schluss von a fehlt noch der Link auf die Detailseite: [routerLink]="vaccination.id"-->


<table class="ui compact celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>von</th>
      <th>bis</th>
      <th>Ort</th>
      <th>freie Plätze</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let vaccination of vaccinations" class="item vs-vaccination-list-item" [vaccination]="vaccination"
      [routerLink]="vaccination?.id"></tr>
  </tbody>
</table>

<div *ngIf="!vaccinations" class="ui active dimmer">
  <span class="ui large text loader">Daten werden geladen</span>
</div>
<p *ngIf="vaccinations && !vaccinations.length">Es wurden noch keine Impfertermineeingetragen</p>