<h1>impftermine</h1>

<p> HINWEIS: Um Termine buchen zu können musst du dich zuerst <a>einloggen</a>.


</p>

<table class="ui selectable compact celled table">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Start</th>
      <th>Ende</th>
      <th>Ort</th>
      <th>freie Plätze</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vaccination of vaccinations" class="vs-vaccination-list-item hoover" [vaccination]="vaccination" [routerLink]="vaccination.id"></tr>
  </tbody>
</table>

<div *ngIf="!vaccinations" class="ui active dimmer">
  <div class="ui large text loader">Daten werden geladen</div>
</div>

<p *ngIf="vaccinations && !vaccinations.length">
  Keine Impftermine vorhanden.
</p>