<h1>impf&shy;forMulAr</h1>
<br>
<br>
<form
  class="ui large form"
  [formGroup]="vaccinationForm"
  (ngSubmit)="submitForm()"
>
  <h2>Neuen Impftermin anlegen</h2>
  <input type="hidden" name="id" />

  <div class="field">
    <label>Start</label>
    <input type="datetime-local" formControlName="from" />
    <div *ngIf="errors.from" class="ui negative message">{{ errors.from }}</div>
  </div>

  <div class="field">
    <label>Ende</label>
    <input type="datetime-local" formControlName="to" />
    <div *ngIf="errors.to" class="ui negative message">{{ errors.to }}</div>
  </div>

  <div class="field">
    <label>Ort</label>
    <select class="custom-select" formControlName="cityName">
      <option value="" disabled>Ort auswählen</option>
      <option *ngFor="let c of locations">{{c.city}}</option>
    </select>
    <div *ngIf="errors.location" class="ui negative message">
      {{ errors.location }}
    </div>
  </div>

  <div class="field">
    <label>Teilnehmeranzahl</label>
    <input type="number" formControlName="maxPatients" />
    <div *ngIf="errors.maxPatiens" class="ui negative message">
      {{ errors.maxPatients }}
    </div>
  </div>

  <button type="submit" class="ui button" [disabled]="vaccinationForm.invalid">
    Speichern
  </button>
</form>
