<br>
<br>
<div class="ui middle aligned center aligned grid" *ngIf="!isLoggedIn()">
  <div class="column">
  
  <form class="ui  large form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="ui segment">
      <h1>logiN</h1>
    <div class="field">

      <label>E-Mail</label>
      
      <input type="email" id="username" formControlName="username">
      <div *ngIf="loginForm.get('username').invalid &&
     (loginForm.get('username').dirty || loginForm.get('username').touched) &&
     loginForm.get('username').hasError('required')" class="ui negative message">
        Benutzername ist verpflichtend </div>
      <div *ngIf="loginForm.get('username').invalid &&
     (loginForm.get('username').dirty || loginForm.get('username').touched) &&
     loginForm.get('username').hasError('email')" class="ui negative message">
        E-Mail Format überprüfen </div>
    </div>
    <div class="field">
      <label>Passwort</label>
      <input type="password" formControlName="password">
      <div *ngIf="loginForm.get('password').invalid &&
     (loginForm.get('password').dirty || loginForm.get('password').touched)" class="ui negative message">
        Passwort ist verpflichtend </div>
    </div>
    <button type="submit" class="ui fluid large yellow submit button" [disabled]="loginForm.invalid">Login</button>
    </div>
  </form>
</div>

</div>
<div class="" *ngIf="isLoggedIn()">
  <h1>profil</h1>

  <h3>Hallo {{user?.firstName}}!</h3>
  <p>Jetzt bist du angemeldet</p>
  <div *ngIf="!user?.vaccination" class="ui icon message">
  <i class="info circle icon"></i>
  <div class="content">
    <div class="header">
      
    </div>
    <p> Du hast leider noch keinen Impftermin.</p>
  </div>
  <a routerLink="../vaccinations" class="ui black button">Jetzt Termin suchen!</a>
</div>


  <button type="button" class="ui button red" (click)="logout()">Logout</button>

</div>