<div class="ui middle aligned center aligned grid">
  <div class="column">
    <form class="ui inverted large form"> 
      <div class="ui inverted segment">
        <h2>Einloggen & Impftermin buchen</h2>
        <br>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail Addresse">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Passwort">
          </div>
        </div>
        <div class="ui fluid large yellow submit button">Login</div>
      </div>

      <div class="ui error message"></div>

    </form>
  </div>
</div>