<h1>impftermin</h1>

<a routerLink=".." class="ui"><i class="arrow left
 icon"></i> Zurück zu den Terminen</a>
 <br><br>


 <div *ngIf="isLoggedIn() && isBookedVaccination()" class="ui icon positive message">
  <i class="calendar check icon"></i>
  <div class="content">
    <div class="header">
      DEIN TERMIN
    </div>
    <p>Du hast diesen Termin gebucht.</p>
  </div>
</div>

<div class="ui container">
  <h2>Datum</h2>
  <p>{{vaccination?.from | date:'EEEE dd. MMMM yyyy'}} von {{vaccination?.from | date:'HH:mm'}} Uhr bis
    {{vaccination?.to | date:'HH:mm'}} Uhr</p>

  <h2>Ort</h2>
  <p>
    {{vaccination?.location?.name}}<br>
{{vaccination?.location?.street}} {{vaccination?.location?.houseNumber}}<br>
{{vaccination?.location?.zipCode}} {{vaccination?.location?.city}}<br>
  </p>

  <h2>Freie Plätze</h2>
  <p>
    {{vaccination?.maxPatients}}
  </p>
</div>
<br>

<button *ngIf="isLoggedIn()" class="ui {{user?.vaccinated || user?.vaccination || !hasOpenSpots() ?'disabled':'yellow'}} button" (click)="bookVaccination()">Termin buchen</button> 
<span *ngIf="user?.vaccinated || user?.vaccination && isLoggedIn()" data-tooltip="
Du hast bereits einen Termin gebucht" data-position="right center" data-inverted=""><i class="info icon"></i></span>

<br><br>

<div *ngIf="isLoggedIn() && user?.admin">
  <div class="ui divider"></div>
  <h2 class="ui header">Admin</h2>
<button [routerLink]="['../../vaccination', vaccination?.id]" class="ui black button">Termin bearbeiten</button>

<button class="ui red button" (click)="removeVaccination()">Termin löschen</button>

<table class="ui sortable selectable compact celled table">
  <thead>
    <tr><th colspan="4">
      Angemeldete Personen
    </th>
  </tr>
    <tr>
      <th>Geimpft?</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Sozialversicherungsnummer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of vaccination?.users" class="vs-user-list-item hoover" [user]="user"></tr>
  </tbody>
</table>



</div>

