<h1>impftermin</h1>

<a routerLink=".." class="ui"><i class="arrow left
 icon"></i> Zurück zu den Terminen</a>
 <br><br>

<div class="ui container">
  <h2>Datum</h2>
  <p>{{vaccination?.from | date:'EEEE dd. MMMM yyyy'}} von {{vaccination?.from | date:'HH:mm'}} Uhr bis
    {{vaccination?.to | date:'HH:mm'}} Uhr</p>

  <h2>Ort</h2>
  <p>
    {{vaccination?.location?.name}}<br>
{{vaccination?.location?.street}} {{vaccination?.location?.houseNumber}}<br>
{{vaccination?.location?.zipCode}} {{vaccination?.location?.city}}<br>
  </p>

  <h2>Freie Plätze</h2>
  <p>
    {{vaccination?.maxPatients}}
  </p>
</div>
<br>

<button *ngIf="isLoggedIn()" class="ui {{user?.vaccinated || user?.vaccination_id || !hasOpenSpots() ?'disabled':'yellow'}} button" (click)="bookVaccination()">Termin buchen</button> 
<span *ngIf="user?.vaccinated || user?.vaccination_id && isLoggedIn()" data-tooltip="
Du hast bereits einen Termin gebucht" data-position="right center" data-inverted=""><i class="info icon"></i></span>

<br><br>

<button *ngIf="isLoggedIn() && user?.admin" [routerLink]="['../../vaccination', vaccination?.id]" class="ui black button">Termin bearbeiten</button>

<button *ngIf="isLoggedIn() && user?.admin"  class="ui red button" (click)="removeVaccination()">Termin löschen</button>