<h1>impftermin</h1>

<div class="ui container">
  <h2>Datum</h2>
  <p>{{vaccination?.from | date:'EEEE dd. MMMM yyyy'}} von {{vaccination?.from | date:'HH:mm'}} Uhr bis
    {{vaccination?.to | date:'HH:mm'}} Uhr</p>

  <h2>Ort</h2>
  <p>
    {{vaccination?.location?.name}}<br>
{{vaccination?.location?.street}} {{vaccination?.location?.houseNumber}}<br>
{{vaccination?.location?.zipCode}} {{vaccination?.location?.city}}<br>
  </p>

  <h2>Freie Plätze</h2>
  <p>
    {{vaccination?.maxPatients}}
  </p>
</div>
<br>
<button *ngIf="isLoggedIn()" class="ui {{user?.vaccinated || user?.vaccination_id || !hasOpenSpots() ?'disabled':'yellow'}} button" (click)="bookVaccination()">Termin buchen</button>
<button *ngIf="isLoggedIn() && user?.admin" [routerLink]="['../../vaccination', vaccination?.id]" class="ui grey button">Termin bearbeiten</button>
<button routerLink=".." class="ui black button">Zurück zu den Terminen</button>

<div *ngIf="user?.vaccinated || user?.vaccination_id && isLoggedIn() " class="ui icon positive message">
  <i class="check circle icon"></i>
  <div class="content">
    <div class="header">
      DEIN TERMIN
    </div>
    <p>Du hast bereits deinen Termin (gehabt).</p>
  </div>
</div>