<div class="ui center allign container">
  <h1>coronA iMpfservice </h1>
  <h2>DAS WARTEN HAT EIN ENDE ...</h2>
  <div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Einloggen & Impftermin buchen
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail Addresse">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Passwort">
          </div>
        </div>
        <div class="ui fluid large yellow submit button">Login</div>
      </div>

      <div class="ui error message"></div>

    </form>
  </div>
</div>


</div>